body {
    width: 100%;
    height: 90vh;
    display: flex;
    position: fixed;
    background-position: fixed;
    align-items: center;
    justify-content: center;
}

h1 {
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 50px;
  color: white;
}

h2{
  color:white;
  outline-color: blue;
}

h3{
  color:white;
  outline-color: blue;
}

p{
  color:white;
  outline-color: blue;
}

h1:hover {
  letter-spacing: 1px;
}

.foto {
  cursor: pointer;
  width: 150px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px gray;
  padding: 5px;
  transition: 0.2s;
}

.foto:hover {
  transform: scale(1.2);
}

button {
  border: none;
  border-radius: 5px;
  background-color: lightblue;
  color: black;
  padding: 10px;
  margin: 2px;
}

button:hover {
  background-color: blueviolet;
  cursor: pointer;
}


.content {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
	margin-right: 20px;
  margin-left: 20px;
}



}

.tombol {
  display: flex;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  color: #f1f1f1;
  width: 95%;
  padding: 20px;
  bottom: 50px;
  top: 10px;
}
 img {
  width: 50px;
 }

 img:hover {
  transform: scale(1.2);
 }

 @media screen and (max-width: 768px){

  h1{
    font-size: 18px;}

  body{
    width: 100%;}
 h2{font-size: 15px;}
 h3{font-size: 14px;}
 p{font-size: 12px;}
 #video{position: fixed;}
 .content {
  position: fixed;
  width: 100%;
 }
button {
  width: 30px;
  font-size: 15px;
}
}
