		body{
			background-color: #eee;
		}

		.navigasi{
			background-color: gray;
			padding: 10px;
		}

		.menu{
			padding: 10px;
			color: white;
		}
		.menu:hover{
			cursor: pointer;
			background-color: black;
		}

		.aktif{
			background-color: black;
		}

		.home{
			background-color: white;
			padding: 10px;
		}

		.isi{
			display: none;
			background-color: white;
			padding: 10px;
		}